.overviewSection{
    max-height: 165px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 텍스트를 자를 때 원하는 단위 ex) 3줄 */
    -webkit-box-orient: vertical;
    overflow: hidden;  
}

#modalMovieImg, .movieImg{
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#open-modal{
    background: #000000b0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}

#modal-conent{
    background: white;
    color: black;
    border-radius: 20px;
    padding: 25px;
    width: 85%;
}

#writerComment{
    height:200px;
     overflow-y: scroll;
    order: 1px solid #cccccc;
    padding: 5px;
}

#replySection{
    margin-top: 10px;    
    padding-top: 15px;
    height: 430px;
    overflow-y: auto;
}

.replies{    
    border-bottom: 1px solid #fbfbfb;
    padding: 5px 0;
    width: 100%;
    overflow: hidden;
}
#writeCommentSection{
    display:flex;
    align-items: center;
}

#writeCommentWrap{
    display: flex;
}

#writeCommentWrap #writeCommentBtn{
    width: 100%;
    height: 46px;
    background-color: transparent;
    border-radius: 23px;
    border: 1px solid #e0e0e0;
    padding: 0px 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

#writeCommentWrap #writeBtn{
    font-size: 14px;
    color: #fff;
    background-color: #22b3c1;
    border: 1px solid #22b3c1;
    padding: 12px 30px;
    width: 100%;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.replyCnt{
    margin-left: 5px;
    color:#22b3c1;
    font-weight: bold;
    font-size: 15px;
}

.pageNumBtn{
    border: 1px solid !important; 
}

.replyMainConent{
    width: 100%;
    display: flex;
}

.replySubContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.replyInfo{
    width: 95%;
}

.replyInfo strong{
    font-weight: 900;
}

.replyInfo span{
    margin-left: 15px;
}

.replyText{
    display: inline-block;
    word-wrap: break-word;
    width: 90%;
}