#movieLst{
    color: black;
    width: 100%;
}

#movieLst .backTd{
    width: 85px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

#movieLst .movieTitle{
    padding-left: 15px;
}

#movieLst tr{
    border-bottom: 1px solid #eeeeee;
    background-color: white;
    transition: 0.3s all;
    cursor: pointer;
    /**js-preloader*/
}

#movieLst tr:hover{
    filter: contrast(0.6);
}

#serchBox{
    height: 0px;
    overflow-y: scroll;
    margin: 0px;
    background-color: white;
    position: relative;
    top: -25px;
    border: 1px solid #eeeeee;
    transition: 0.5s all ;
}


#comment, #overview{
    width: 100%;
    height: 158px;
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
}

#infoSection{
    display: flex;
}

#posterBox{
    width: 14%;
    border: 1px solid #22b3c1;
    margin-right: 7px;
}

#oberviewWrap{
    display: none;
    margin-bottom: 20px;
}