<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- js -->
<script defer src="/assets/build/movie/movieRegister.js"></script>
<!-- css -->
<link rel="stylesheet" href="/assets/css/movie/register.css">
<th:block th:replace="~{/layout/base :: setContent(~{this::content})}">
  <th:block  th:fragment="content">
    <div class="reservation-form" style="margin-top:70px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <section id="reservation-form" style="min-height: 804px;margin-top:0px;">

              <div class="row">

                <div class="col-lg-12">
                  <h4>Register <em>Movie</em> Through This <em>Form</em></h4>
                </div>
                <div class="col-lg-12">
                  <div style="display:flex;align-items: center;">
                    <fieldset style="width:100%">
                      <label for="movieName" class="form-label">Movie Name</label>
                      <input type="text" name="movieName" placeholder="MovieName" autocomplete="on" required>
                    </fieldset>
                    <fieldsets>
                      <button id="findMovieBtn" class="border-button">Search</button>
                    </fieldsets>
                  </div>
                  <section id="serchBox">
                    <table id="movieLst">            
                      <tbody><!-- script --></tbody>                      
                    </table>
                  </section>                  
                </div>
                <div class="col-lg-12" id="oberviewWrap">
                  <fieldset>
                    <label for="overview" class="form-label">Overview</label>                                        
                    <div id="infoSection">
                      <div id ="posterBox"><img id="posterImg"></div>
                      <textarea id="overview"></textarea>
                    </div> 
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <label for="originalTitle" class="form-label">Original Title</label>
                    <input type="text" name="originalTitle" id="originalTitle" class="originalTitle" readonly required>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <label for="genres" class="form-label">Genres</label>
                    <input type="text" id="genres" name="genres" class="genres"  autocomplete="on" required readonly>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <label for="popularity" class="form-label">Number Of Popularity</label>
                    <input type="text" id="popularity" name="popularity" class="popularity"  autocomplete="on" required readonly>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <label for="releaseDate" class="form-label">Release Date</label>
                    <input type="text" name="releaseDate" id="releaseDate" class="releaseDate" readonly required>
                  </fieldset>
                </div>               
                <div class="col-lg-12">
                  <fieldset>
                    <label for="chooseDestination" class="form-label">Your Think</label>
                    <textarea id="comment"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button class="main-button" id="registerBtn">Make Your Reservation Now</button>
                  </fieldset>
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>

  </th:block>
</th:block>

</html>

