<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- js -->
<script type="module" defer src="/assets/build/main/index.js"></script>
<!-- css -->
<link rel="stylesheet" href="/assets/css/main/index.css">
<th:block th:replace="~{/layout/base :: setContent(~{this::content})}">
  <th:block  th:fragment="content">

  <!-- ***** Main Banner Area Start ***** -->
  <section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
      <input type="radio" id="banner2" class="sec-1-input" name="banner">
      <input type="radio" id="banner3" class="sec-1-input" name="banner">
      <input type="radio" id="banner4" class="sec-1-input" name="banner">
      <div class="slider">
        <!-- script -->
      </div>
      <nav>
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
        </div>
      </nav>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <div class="visit-country">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <h2 style="color:white">Top 3 Most Reviewed Posts</h2>
            <p>Leave your thoughts on the most popular posts.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="items" id="listWrap">
            <div id="top3Wrap" class="row">
                    <!-- script -->
            </div>
          </div>
        </div>

        <!-- 실시간 조회 수 -->
        <div class="col-lg-4">
          <div class="side-bar-map">
            <div class="row">
              <div class="col-lg-12">
                <div id="realTimeRank">                                      
                    <table>
                      <colgroup>
                        <col width="8%">
                        <col width="auto">
                        <col width="15%">
                      </colgroup>
                      <tbody>
                        <tr>
                          <td class="number">1</td>
                          <td class="name">타잔2</td>
                          <td class="date">오늘</td>
                        </tr>
                        <tr>
                          <td class="number">2</td>
                          <td class="name">더 퍼스트 슬램덩크</td>
                          <td class="date">오늘</td>
                        </tr>
                        <tr>
                          <td class="number">3</td>
                          <td class="name">원피스 필름 레드</td>
                          <td class="date">4일전</td>
                        </tr>
                        <tr>
                          <td class="number">4</td>
                          <td class="name">인사이드 아웃</td>
                          <td class="date">3일전</td>
                        </tr>
                        <tr>
                          <td class="number">5</td>
                          <td class="name">스즈메의 문단속</td>
                          <td class="date">2일전</td>
                        </tr>
                      </tbody>
                    </table>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  </th:block>
</th:block>
</html>