#top3Wrap .top3Pverview{
    height: 175px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#top3Wrap .info{
    display: flex;
    align-items: center;
}

#top3Wrap h4{
    color: white;
}

#realTimeRank{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 15px;
}

#realTimeRank table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
}

#realTimeRank tr:hover {
    background-color: #9d9797;
    transform: scale(1.1);
}

